name: Test golang lint
on:
  push:
  pull_request:
  workflow_dispatch:


jobs:
  golangci:
    name: Lint check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: 1.21.x
      - uses: actions/checkout@v4
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
